header {
    text-align: center;
}

main {
    text-align: center;
}

table {
    margin: auto;
    padding: 5px;
    border: 5px solid yellow;
}

thead {
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 3px solid purple;
}

tr {
    margin: 5px;
    padding: 5px;
    border: 1px solid red;
}

tr:nth-child(odd) {
    background-color: pink;
}

th {
    margin: 5px;
    padding: 5px;
}

tbody {
    border: 2px solid orange;
}

td {
    width: 100px;
    padding: 1px;
    border: 1px solid black;
}

.box-td {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.name-td {
    margin: 0px;
    border: none;
}

.score-td {
    font-size: 50px;
}

tfoot {
    border: 2px solid green;
}

.results-span {
    font-weight: bold;
    margin: 1px;
    padding: 1px;
}

#title-tr {
    background-color: lightgreen;
}

.congrats {
    background-color: lightgreen;
    padding-top: 5px;
    border: none;
}

img {
    margin: 2px;
}